<section class="header">
	<div class="logo">
		<p class="logo__text">Business Logo</p>
	</div>
	<nav class="nav-header">
		<ul class="nav-block">

			<li class="nav-block__list">
				<a class="nav-block__list--item" href="#">Home</a>
			</li>

			<li class="nav-block__list">Solutions
				<ul class="low-block">
					<li class="low-block__list">
						<a class="low-block__list--item" href="#">Testimonials</a>
					</li>
					<li class="low-block__list">
						<a class="low-block__list--item" href="#">Arhives</a>
					</li>
					<li class="low-block__list">
						<a class="low-block__list--item" href="#">FAQs</a>
					</li>
				</ul>
			</li>
			<li class="nav-block__list">Products
				<ul class="low-block">
					<li class="low-block__list">
						<a class="low-block__list--item" href="#">Testimonials</a>
					</li>
					<li class="low-block__list">
						<a class="low-block__list--item" href="#">Arhives</a>
					</li>
					<li class="low-block__list">
						<a class="low-block__list--item" href="#">FAQs</a>
					</li>
				</ul>
			</li>
			<li class="nav-block__list">Contacts
				<ul class="low-block">
					<li class="low-block__list" >
						<p>9870 st vicent plase <br> glasgow, dc 45 fr 45</p>
					</li>
					<li class="low-block__list" >
						<address>Telephone: +1 800 603 60 35</address>
					</li>
					<li class="low-block__list" >
						<address>Fax: +1 800 889 98 98</address>
					</li>
				</ul>
			</li>
			<li class="nav-block__list">
				<a class="nav-block__list--item" href="#">Blog</a>
			</li>
		</ul>
			<svg class = "icon icon_search">
	            <use xlink:href = "assets/img/svg/svg-symbols.svg#search"></use>
	 		</svg>
	</nav>


	<div class="main">
		<h1 class = "main__h1">About</h1>
		<p class = "main__p">Sed ut perspiciatis under iste natus error sit voluplatem accusantium doloremque <br> laudantium totam rem aperiam, eaque ipsa quae ad illo.</p>
	</div>




	<div class="main_block">
		<div class="block_item">
			<h3 class="block_item__h3">Perspiciatis unde</h3>
			<p class="block_item__p">Sed ut perspiciatis under iste natus error sit voluplatem accusantium doloremque laudantium totam rem aperiam, eaque ipsa quae ad illo inventore veritatis et architeto beatae vitae dicta sunt explicado.</p>
			<svg class = "icon icon_display">
	            <use xlink:href = "assets/img/svg/svg-symbols.svg#display"></use>
	 		</svg>
		</div>

		<div class="block_item">
			<svg class = "icon icon_calculator">
	            <use xlink:href = "assets/img/svg/svg-symbols.svg#calculator"></use>
	 		</svg>
	 		<h3 class="block_item__h3">Voluptatem accus</h3>
			<p class="block_item__p">Sed ut perspiciatis under iste natus error sit voluplatem accusantium doloremque laudantium totam rem aperiam, eaque ipsa quae ad illo inventore veritatis et architeto beatae vitae dicta sunt explicado. <br>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud ex ea commodo consequat.
			</p>
		</div>

		<div class="block_item">
			<h3 class="block_item__h3">Omnis iste natus</h3>
			<p class="block_item__p">Sed ut perspiciatis under iste natus error sit voluplatem accusantium doloremque laudantium totam rem aperiam, eaque ipsa quae ad illo inventore veritatis et architeto beatae vitae dicta sunt explicado.</p>
			<svg class = "icon icon_group">
	            <use xlink:href = "assets/img/svg/svg-symbols.svg#group"></use>
	 		</svg>
		</div>

		<div class="block_item">
			<svg class = "icon icon_book">
	            <use xlink:href = "assets/img/svg/svg-symbols.svg#book"></use>
	 		</svg>
	 		<h3 class="block_item__h3">Laudantium, totam</h3>
			<p class="block_item__p">Sed ut perspiciatis under iste natus error sit voluplatem accusantium doloremque laudantium totam rem aperiam, eaque ipsa quae ad illo inventore veritatis et architeto beatae vitae dicta sunt explicado.</p>
		</div>
	</div>
</section>